{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
        import '{{ asset('lib/bootstrap_test.js') }}';
    </script>
{% endblock %}

{% block body %}
    <h2 class="mt-5">Symfony Playground Two <span class="bg-logo"></span></h2>
    {% if app.user %}
        <div class="card-group">
            {% for feed in feeds %}
                <div class="card" {{ stimulus_controller('feed', {'id':feed.id}) }}></div>
            {% else %}
                <h4>No feeds yet :(</h4>
                <p>Go and <a href="{{ path('app_feed_new') }}">create one</a>!</p>
            {% endfor %}
        </div>
    {% else %}
        <h4>
            Use the <code>symfony console user-admin</code> command to create a user so you can
            <a href="{{ path('login') }}">log in</a>!
        </h4>
    {% endif %}
{% endblock %}
