{% extends 'base.html.twig' %}

{% block title %}Feed index{% endblock %}

{% block body %}
    <h1>Feed index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>Owner</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feed in feeds %}
            <tr>
                <td>{{ feed.id }}</td>
                <td>{{ feed.name }}</td>
                <td>{{ feed.url }}</td>
                <td>{{ feed.owner }}</td>
                <td>{{ feed.category }}</td>
                <td>
                    <a href="{{ path('app_feed_show', {'id': feed.id}) }}">show</a>
                    <a href="{{ path('app_feed_edit', {'id': feed.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_feed_new') }}">Create new</a>
{% endblock %}
